.link-list-head{
    background-color: black;
    color: white;
    padding:0;
    margin:0;
    font-size:24px;
    text-align: center;
}
.link-list{
    width:100%;
    background-color: #777777; 
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 5px #222222;
    text-align: center;
    margin:0px;
    padding:0px;
}

.list-item-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}

.list-item{
    color:black;
    cursor: pointer;
}

.main-page-working-area{
}

.main-container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}




