<!-- <app-new-login-header></app-new-login-header>

<app-new-login-component></app-new-login-component>

<app-new-login-footer></app-new-login-footer> -->
<!-- ../assets/img/HNB.png -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Log in - Brand</title>
  <link rel="stylesheet" href= "/node_modules/bootstrap/dist/css/bootstrap.min.css" >
</head>

<!DOCTYPE html>
<html data-bs-theme="light" lang="en"
  style="--bs-primary: #4d5880;--bs-primary-rgb: 77,88,128;">
<body>
  <!-- Start: Navbar Centered Links -->
  <nav class="navbar navbar-expand-md sticky-top text-primary bg-dark py-3 navbar-dark" id="mainNav"
    style="--bs-secondary: #4d5880;--bs-secondary-rgb: 255,255,255;--bs-dark: #4d5880;--bs-dark-rgb: 65,67,67;">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center justify-content-center">
        <span
          class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon">
          <img class="shadow-lg" src="../assets/img/HNB.png" width="32" height="30" style>
        </span><span>Hawkeye</span></a>
      <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      </button>
      <div class="collapse navbar-collapse text-secondary" id="navcol-1">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item justify-content-center">
         
          </li>
        </ul>
      </div>
      <a class="btn btn-primary link-secondary bg-primary border-0 shadow-none" role="button" href="signup.html"
        style="/*backdrop-filter: opacity(1);*/--bs-primary: #4d5880;--bs-primary-rgb: 77,88,128;background: var(--bs-navbar-disabled-color);">Sign up</a>
    </div>
  </nav>
  <!-- End: Navbar Centered Links -->
  
 <section class="py-5" style="background: #999999;">
    <div class="container py-4">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 class="fw-bold">Welcome</h2>
        </div>
      </div>
      <div class="">
          <div class="card mx-auto">  
            <div class="card-body text-center d-flex flex-column align-items-center">
              <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                  class="bi bi-person">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
                  </path>
                </svg>
              </div>
              <form #LoginForm = "ngForm" (ngSubmit)="onSubmit(LoginForm)">
                <div class="mb-3">
                  <input class="form-control"
                  type="email" 
                  ngModel
                  id="email"
                  name="email"
                  required
                  email >
                </div>
                <div class="mb-3">
                  <input class="form-control" 
                   type="password"
                   ngModel 
                   id="password"
                   name="password"
                   required
                   minlength="6"
                   password >
                </div>
                <div class="mb-3">
                  <button class="justify-content-between btn btn-primary bg-primary border-0 shadow d-block w-100" type="submit"  >Log in</button>
                </div>
                <p class="text-muted">Forgot your password?</p>
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  <!-- Start: Footer Multi Column -->
  <footer class="bg-dark" style="--bs-dark: #4d5880;--bs-dark-rgb: 65,67,67;">
    <div class="container bg-dark py-4 py-lg-5" style="--bs-dark: #4d5880;--bs-dark-rgb: 65,67,67;">
      <div class="row justify-content-center"></div>
        
        <!-- Start: Services -->
        <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
          <h3 class="fs-6 fw-bold">Services</h3>
          <ul class="list-unstyled">
            <li><a href="#">Electrical Solutions</a></li>
          </ul>
        </div>

        <!-- Start: About -->
        <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
          <h3 class="fs-6 fw-bold">About</h3>
          <ul class="list-unstyled">
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legacy</a></li>
          </ul>
        </div>
        <div
          class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last">
          <div class="justify-content-center d-flex align-items-center mb-2">
            <span
              class="justify-content-center bs-icon-circle bs-icon-primary d-flex justify-content-center align-items-center bs-icon me-2">
              <img src="../assets/img/logo2.jpg" width="120" height="40"></span>
            <span></span>
          </div>
          <p class="text-muted float-start" style="/*font: albert-sans;*/">We Pursue Excellence</p>
        </div>
      </div>
      <hr>
      <div>
        <p class="mb-0">Copyright © MacAutomation</p>
        <ul class="list-inline mb-0"></ul>
      </div>
  </footer>
  
  <!-- End: Footer Multi Column -->

</body>

</html>