<div class="main-container">
    <div class="split">
        <div class="split">
            <p>{{currentuser}}</p>
            <app-list-box [disabled]="disableuserchange" (itemselected)="UpdateSiteSelections($event)" [enablefilter]="false" [items]="users"></app-list-box>
            <button *ngIf="disableuserchange" class="nogrow" (click)="UpdateUser()">Update User</button>
            <!-- <button *ngIf="saveable" class="nogrow" (click)="SaveUsers()">Save Changes</button> -->
        </div>
        <div class="heirarchy">
            <app-embedded-drop-down  [allowchildcheckbox]="true" (valuechanged)="HeirarchyValueChanged()" [structure]="heir" ></app-embedded-drop-down> 
        </div>
        <!-- [structure]="displayheir" -->
    </div>
</div>

