
<p> </p>

<div class = "google-map"> 

    <google-map height="400px"
                width="975px"
                [center]="center"
                [zoom]="zoom"
                >

                <map-marker
                *ngFor="let marker of markers"
                [position]="marker.position"
                [title]="marker.title">

                  <map-info-window
                  *ngFor="let marker of markers"
                  [position]="marker.position"
                  >
                </map-info-window>
                <div onclick = "addInfoWindow()"></div>
              </map-marker>
    </google-map>

  </div>




