.main-container
{
    height:100%;
    width:100%;
    display:flex;
    flex-flow: column nowrap;
}

.sub-container
{
    display:flex;
    justify-content:space-around;
    width:100%;
    padding:20px;
}

.read-button
{
    width:200px;height:20px;
}

.site-select
{
    height: 25px;
    width:200px;
    margin-bottom: 10px;
}

.site-container
{
    flex-grow:1;
    display:flex;
    flex-flow: row wrap;
}

.input-container
{
    flex-grow:0;
    display:flex;
    flex-flow: column nowrap;
    width: 500px;
}

.input-sub-container
{
    flex: 1 0 400px;
    overflow:auto;
    overscroll-behavior: none;
}

.tag-container
{
    flex-grow:2;
    margin-left:10px;
    position: relative;
}

.tag-sub-container
{
    flex:1 0 400px;
    overflow:auto;
    overscroll-behavior: none;
}
