<div class="main-container">
    <div class="title-bar">
        <div class="title-bar-text-main">
                <div  class="title-text" [innerHTML]="title"></div>
                <!-- [ngStyle]="{'font-size':fontsize.toString() + 'px'}" -->
                <div class="logout">
                    <button (click)="LogOut()">LogOut</button>
                </div>
        </div>
        <div class="title-bar-navigation">
            <div class="title-icon-holder">
                <div class="title-button">
                    <button [disabled]="disablenavigation" (click)="TakeMeHome()">Home</button>
                </div>
            </div>
        </div>
        <!-- <div class="title-bar-logout">
            <div class="title-icon-logout-holder">
                <div class="logout-button">
                    <button (click)="LogOut()">LogOut</button>
                </div>
            </div>
        </div> -->
    </div>
    <div class="page-rendering">
        <ng-container *ngIf="currentpage == 'mainpage' && this.links.length > 0">
            <app-main-page [links]="this.links" (pagechanged)="changepage($event)"></app-main-page>
        </ng-container >
        <ng-container *ngIf="currentpage == 'site'">
            <app-dynamic-site-page [structure]="sitestructure"></app-dynamic-site-page>
        </ng-container >
        <ng-container  *ngIf="currentpage == 'development'">
            <app-developer-page (discardchanges)="DiscardDeveloperChanges()" (savechanges)="SaveDeveloperChanges($event)" (pagechanged)="PageChanged()" [customers]="userdata.customers" [structure]="copyofuserdata" ></app-developer-page>
        </ng-container> 
        <ng-container  *ngIf="currentpage == 'drivercreation'">
            <app-driver-creation [driverdata]="userdata.driverdata"></app-driver-creation>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'assignment'">
            <app-page-assigner [customers]="userdata.customers" [pages]="userdata.pages" ></app-page-assigner>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'usermanagement'">
            <app-user-management [userdata]="userdata" [customers]="userdata.customers"></app-user-management>
        </ng-container>
        <ng-container  *ngIf="currentpage == 'svgdrawing'">
            <app-svg-drawing></app-svg-drawing>
        </ng-container>
    </div>
</div>


