<div class="main-container">
    <div class="sub-container">
        <div class="center-container">
            <p class="main-text">User Login</p>
            <hr>
            <form [formGroup]="signupForm" (ngSubmit)="OnSubmit()" >
                
                <p class="sub-text">Email Address:</p>
                <input 
                type="email"
                class="input-item marg-btm"
                formControlName="email"
                >
                <div *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="alert sub-text" >
                    <div *ngIf="signupForm.get('email').pending">Checking Validity!</div>
                    <div *ngIf="signupForm.get('email').errors != undefined && signupForm.get('email').errors['email'] != undefined">Please Enter A Valid Email Address!</div>
                </div>

                <p class="sub-text">Password:</p>
                <input 
                type="password"
                class="input-item marg-btm"
                formControlName="password"
                >
                <div *ngIf="!signupForm.get('password').valid && signupForm.get('password').errors['passwordIsForbidden']" class="alert sub-text" >
                    <!-- <div *ngIf="signupForm.get('password').errors['required']">Field Is Required!</div> -->
                    <div *ngIf="signupForm.get('password').errors['passwordIsForbidden']">Please Enter A Valid Password!</div>
                </div>
                
                <hr>
                <div class="center-item">
                    <button [disabled]="!signupForm.valid" type="submit" class="form-button">Login</button>
                </div>
             </form>
        </div>
    </div>
 </div>

